<% if @public_recipes.present? %>
  <h1>Public Recipes</h1>

  <ul>
    <% @public_recipes.each do |recipe| %>
      <li>
        <strong><%= recipe.name %></strong><br>
        Publish by: <%= recipe.user.name %><br>
        Total food items: <%= @total_quantity %><br>
        Total price: <%=  %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h1>No public recipes available</h1>
<% end %>
